body {
  background: #1abc9c;
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

body:hover {
  cursor: pointer;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

#all {
  margin-top: 40px;
  height: 400px;
  width: 600px;

}
#numbers {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Roboto', sans-serif; font-size: 130pt;
  font-weight: 600;
  margin: 0 auto;
  padding: 30px;
  color: white;
}


.btn {
  background-color: #3498db;
  border: 0;
  padding: 2em;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 300px;
  margin-left: 150px;
  border-radius: 15px;
}

.btn:hover {
  background-color: #2980b9;
}

#numbers {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif; font-size: 24pt;
  font-weight: 600;
  margin: 0 auto;
  color: white;
}

#drawn {
  position: fixed;
  top: 0;
  right: 0;

  padding-top: 14px;
  font-family: 'Roboto', sans-serif; font-size: 24pt;
  color: white;
}

.nr-span {
  background-color: #6c5ce7;
  border-radius: 5px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

  margin: 5px;
}

